body {
	background-color: black;
	margin: 20px;
}

h1 {
	color: white;
	position: right;
}
blogname {
	padding-right: 20%;
}
searchbar {
	color: aliceblue;
}

ul {
	list-style-type: none;
	color: orange;
}
li {
	display: inline;
	padding: 20px;
}
.searchbar {
	float: right;
	position: relative;
	margin-top: -150px;
	margin-right: 50px;
	
}
